<h2>People</h2>

<div class="userlist">
<input type="text" class="form-control" ng-model="search" placeholder="Search" /><br>
<button ui-sref="user" class="btn btn-primary btn-sm">Add People</button><br>
  <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>GENDER</th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="user({ id: person.id })" ng-repeat="person in vm.people | filter: search | orderBy:'name'">
        <td>{{ person.name }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.gender }}</td>
      </tr>
      <tr ng-if="vm.people.length === 0">
        <td colspan="3" class="text-center">User list is empty :(</td>
      </tr>
    </tbody>
  </table>
</div>